#---------------------------------------
# 💎 Ruby / Rails
#---------------------------------------

.bundle
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/db/*.sqlite3
/db/*.sqlite3-journal
/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
.byebug_history
/config/master.key
/config/credentials.yml.enc

# Active Storage
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# PID files
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Environment config
.env

# Spring / bootsnap
/tmp/cache
/spring/*.pid
/.ruby-version
/.ruby-gemset

#---------------------------------------
# ✍️ Editor/IDE
#---------------------------------------

# VS Code
.vscode/*
!.vscode/settings.json

# JetBrains (RubyMine, etc.)
.idea

# Emacs / Vim
*~
*.swp
*.swo
*.swn

# macOS
.DS_Store
.AppleDouble
.LSOverride

#---------------------------------------
# 🚀 Deployment
#---------------------------------------

# Kamal / Render / Fly-specific state
/.kamal
/fly.toml
/config/credentials/production.key
